body
{
    /* background-color: rgb(250, 139, 176); */
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center; 
    height: 100vh;
}
#h1_1
{
    /* font-size: large; */
    font-size: 65px;
    text-align: center;
    /* color:white; */
    color: black;
}
#h4_1
{
font-size: 32.5px;
    text-align: center;
    /* color:white; */
    color: black;
}
#img1
{
    display: block;
    margin-left:auto;
    margin-right:auto;
}
#intro_para
{
    font-size: 25.8px;
    color:white;
    font-style: italic;
    color: black;
    
}
#para_div
{
    width:95%;
    /* max-width:800px; */
    padding:30px;
    border-radius:20px;
    text-align:center;
    justify-content: center;
    align-items: center;
}
.navbar
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(164, 85, 111);
    padding:10px 20px;
}
.navbar ul
{
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
}
.navbar ul li
{
    margin-left: 20px;
    margin:10px 0px;
}
.navbar ul li a
{
    text-decoration: none;
    font-size: 25px;
    transition: color 0.3s ease;
}
